<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

     
  <body>

    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col col-2">
            <%= link_to root_path do %>
              <img src="https://image.flaticon.com/icons/svg/1670/1670639.svg" width="80" height="80">
            <% end %>
          </div>

          <div class="col col-10">
            <div class="nav pull-right">
              <% if current_user %> 
                <ul> 
                  <li class="full"><%= current_user.email %></li> 
                  <li><%= link_to "Profile", '/profile' %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li> 

                </ul> 
              <% else %> 
                <ul> 
                  <li><%= link_to "Login", 'login' %></li> 
                  <li><%= link_to "Signup", 'signup' %></li> 
                </ul> 
              <% end %> 
              
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
